.navText {
	color: #114067;
	font-size: 30px;
	font-weight: 500;
}



@media only screen and (max-width: 360px) {
	/* .navText {
		font-size: 15px;
		width: 250px;

	} */
	.select{
		
		margin-left: -6px;
	}
	.text{
		width:1078px;
	}
	.navText {
		font-size: 8px;
		width: 900px;

	}
}

@media (min-width: 361px) and (max-width:375px) {
	.select{
		
		margin-left: -12px;
	}
	.text{
		width:1000px;
	}
	.navText {
		font-size: 9px;
		width: 900px;

	}
}

@media (min-width: 376px) and (max-width:390px) {

	.select{
		
		margin-left: -12px;
	}
	.text{
		width:1000px;
	}
	.navText {
		font-size: 9px;
		width: 900px;

	}
}

@media (min-width: 391px) and (max-width:393px) {
	.select{
		
		margin-left: -12px;
	}
	.text{
		width:1000px;
	}
	.navText {
		font-size: 9px;
		width: 900px;

	}
}

@media (min-width: 394px) and (max-width:400px) {
	.select{
		
		margin-left: -12px;
	}
	.text{
		width:663px;
	}
	.navText {
		font-size: 12px;
		width: 835px;

	}
}

@media (min-width: 401px) and (max-width:414px) {
	.select{
		
		margin-left: -12px;
	}
	.text{
		width: 596px;
	}
	.navText {
		font-size: 12px;
		width: 780px;

	}

}